/*--------------1200px width-------------------*/

@media screen and (max-width: 1200px) {
    /*PORTFOLIO SECTION*/
    .portfolio-box {
        width: 50%;
        height: 450px;
    }
    #container-3 {
        width: 100%;
    }
}



/*--------------768px width-------------------*/

@media screen and (max-width: 768px) {
    /*HEADER SECTION*/
    #header>h1 {
        font-size: 4em;
    }
    #header>h2 {
        font-size: 2em;
    }
    /*ABOUT SECTION*/
    .about-inner-container {
        width: 100%;
        height: auto;
        display: block;
        padding: 0em;
    }
    #about figure {
        width: 90%;
    }
    /*SKILLS SECTION*/
    .container-icons figure:nth-last-of-type(1) {
        width: auto;
        box-sizing: border-box;
    }
    /*PORTFOLIO SECTION*/
    .portfolio-box {
        width: 100%;
        height: 450px;
    }
    /*FOOTER SECTION*/
    .address-container,
    .form-container {
        width: 100%;
    }
}

/*--------------0-480px width-------------------*/

@media screen and (max-width: 480px) {
    /*NAV SECTION*/
    #menu {
        right: 0;
        background: transparent;
    }
    #menu .menu-item {
        display: block;
        padding: .3em 1em .3em 0;
    }
    /*HEADER SECTION*/
    #header>h1 {
        font-size: 3em;
    }
    #header>h2 {
        font-size: 1.5em;
    }
    /*ABOUT SECTION*/
    .about-inner-container {
        width: 100%;
        height: auto;
        display: block;
        padding: 0em;
    }
    /*PORTFOLIO SECTION*/
    .portfolio-box {
        position: relative;
        width: 100%;
        height: 300px;
        float: left;
        background-size: cover;
    }
    /*FOOTER SECTION*/
    .address-container,
    .form-container {
        width: 100%;
    }
}


