* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

#main-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
}


/*ADDITIONAL*/

.colour-green {
    color: #1ac056;
    font-weight: 500;
}

a {
    text-decoration: none;
}


/*NAV SECTION*/

#menu {
    position: fixed;
    width: 100%;
    height: 50px;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
}

#menu .menu-item {
    display: inline-block;
    list-style: none;
    padding: 10px 20px 10px 20px;
    font-size: 1.2em;
}

#menu .menu-item a {
    text-decoration: none;
    color: #1ac056;
}

#menu .menu-item a:hover {
    color: grey;
}


/*HEADER SECTION*/

#header {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../img/header-background.jpg');
    background-size: cover;
}

.header-text {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#header>h1 {
    position: absolute;
    top: 50%;
    font-size: 7em;
    font-weight: 100;
    color: white;
}

#header>h2 {
    position: absolute;
    top: 65%;
    font-size: 2.5em;
    font-weight: 100;
    color: white;
}


/*ABOUT SECTION*/

#about {
    position: relative;
    width: 100%;
    display: inline-block;
    background-color: #f9fcfe;
    box-shadow: 0px 7px 5px lightgrey;
    z-index: 9;
}

#about>h3 {
    width: 100%;
    font-size: 2em;
    color: black;
    font-weight: 100;
    text-align: center;
    display: inline-block;
    padding: 2em;
}

.about-inner-container {
    width: 50%;
    display: inline-block;
    float: left;
    overflow: auto;
}

#about p {
    padding: 0 5% 5% 5%;
    text-align: left;
}

#about figure {
    width: 280px;
    line-height: 200px;
    margin: auto;
    left: 0;
    right: 0;
}

#about figure img {
    width: 100%;
    border: 15px solid white;
    border-radius: 10px;
}


/*SKILLS SECTION*/

#skills {
    position: relative;
    width: 100%;
    display: inline-block;
    background-color: white;
}

#skills>h3 {
    width: 100%;
    font-size: 2em;
    color: black;
    font-weight: 100;
    text-align: center;
    padding: 2em;
}

#skills p {
    padding: 0 2em;
    text-align: center;
    display: inline-block;
}

.container-icons {
    text-align: center;
    padding: 2em;
}

.container-icons figure {
    display: inline-block;
    padding: 0 2em 4em 2em;
    ;
}

figure figcaption {
    text-align: center;
}

#HTML5 img,
#CSS3 img,
#JavaScript img,
#JQuery img {
    width: 100%;
    box-sizing: border-box;
}


/*PORTFOLIO SECTION*/

#portfolio {
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    display: inline-block;
    background-color: white;
}

#portfolio>h3 {
    width: 100%;
    font-size: 2em;
    color: black;
    font-weight: 100;
    text-align: center;
    box-sizing: border-box;
    padding: 2em;
}

.portfolio-container {
    display: inline-block;
    width: 100%;
    padding: 2em;
}

.portfolio-box {
    position: relative;
    width: 33.33333%;
    height: 400px;
    float: left;
    background-size: cover;
}

#container-1 {
    background-image: url('../img/portfolio1.jpg');
}

#container-2 {
    background-image: url('../img/portfolio2.jpg');
}

#container-3 {
    background-image: url('../img/portfolio4.jpg');
}

.box-mask {
    position: absolute;
    background-color: rgba(42, 61, 79, 0.8);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.box-mask:hover {
    opacity: 1;
}

.box-border {
    position: absolute;
    border: 1px solid white;
    box-sizing: border-box;
    width: 96%;
    height: 96%;
    margin: 2%;
}

.box-content {
    position: absolute;
    box-sizing: border-box;
    width: 96%;
    height: 96%;
    margin: 2%;
    color: white;
    text-align: center;
}

.box-content h3,
p {
    text-align: center;
    padding: 2em;
}


/*FOOTER SECTION*/

#contact {
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    display: inline-block;
    background-color: #213b50;
}

#contact>h3 {
    width: 100%;
    font-size: 2em;
    color: white;
    font-weight: 100;
    text-align: left;
    padding: 2em 0 0 2em;
}

.address-container,
.form-container {
    position: relative;
    width: 50%;
    height: 50%;
    display: inline-block;
    float: left;
    overflow: hidden;
    padding: 2em;
}

.address-container-inside {
    width: 100%;
    height: 50%;
    display: inline-block;
}

.socialmedia-container {
    width: 100%;
    display: inline-block;
    padding: 2em 0 0 2em;
}

.sm-ico {
    display: inline-block;
    width: 3em;
    height: 3em;
    float: left;
    margin-right: 25px;
    border: 1px solid white;
    padding-left: 1em 1em 0 0;
    color: azure;
}

.sm-ico>a {
    color: azure;
    cursor: pointer;
}

.sm-ico>a:hover {
    color: red;
    cursor: pointer;
}

.address-text {
    display: inline-block;
    width: 100%;
    height: 50%;
    color: white;
    font-style: normal;
    font-size: 1em;
    font-weight: 200;
}

.address-text>p {
    padding-top: 1em;
    line-height: 1.7em;
    text-align: left;
}

.address-text p>a {
    color: #1ac056;
    text-decoration: none;
}

.address-text p>a:hover {
    color: #1f8a46;
    text-decoration: underline;
}


/*SOCIAL MEDIA*/

.mydiv-f,
.mydiv-g,
.mydiv-t,
.mydiv-l {
    font-family: sans-serif;
    width: 50px;
    height: 50px;
    padding: 10px 0;
    text-align: center;
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    margin-right: 1em;
}
.mydiv-f:hover,
.mydiv-g:hover,
.mydiv-t:hover,
.mydiv-l:hover {
    font-family: sans-serif;
    width: 50px;
    height: 50px;
    padding: 10px 0;
    text-align: center;
    border: 1px solid red;
    color: red;
    display: inline-block;
    margin-right: 1em;
}

.mydiv-f:before {
    content: "\f09a ";
    font-family: FontAwesome;
    font-size: 2em;
    display: block;
    text-align: center;
}

.mydiv-g:before {
    content: "\f0d5 ";
    font-family: FontAwesome;
    font-size: 2em;
    display: block;
    text-align: center;
}

.mydiv-t:before {
    content: "\f099 ";
    font-family: FontAwesome;
    font-size: 2em;
    display: block;
    text-align: center;
}

.mydiv-l:before {
    content: "\f0e1 ";
    font-family: FontAwesome;
    font-size: 2em;
    display: block;
    text-align: center;
}


/*form -----> */

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    margin: 10px 0;
    border: 0;
    background-color: #2b4a64;
}

textarea {
    height: 100px;
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
    background-color: #125893;
    border: 1px solid #bddffc;
}

input[type=text]::placeholder,
input[type=email]::placeholder,
textarea::placeholder {
    color: #bddffc;
}

input[type=submit] {
    width: 100px;
    height: 50px;
    font-size: 1em;
    background-color: #1ac056;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #1f8a46;
}


/*<----- form*/

.copy {
    width: 100%;
    height: 1.5em;
    font-weight: 200;
    color: white;
    background-color: #142634;
    display: inline-block;
    padding: .25em 0 .25em 2em;
}